[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=PCSX2x6
StartupWMClass=pcsx2-qt
GenericName=Arcade PlayStation 2 Emulator
Comment=PCSX2 fork emulating Namco System 246/256 arcade hardware
Exec=pcsx2-qt
Icon=PCSX2x6
Keywords=game;emulator;arcade;
Categories=Game;Emulator;
